.service {
	&__container {
		margin: 0 auto;
		padding: 0 var(--container-offset);
		max-width: var(--container-width);
		&-image {
			min-width: 220px;
			position: relative;
			overflow: hidden;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: -45%;
				display: block;
				width: 25%;
				height: 100%;
				background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
				transform: skewX(-25deg);
				z-index: 2;
			}
		}
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 30px;
		padding: 12px 0;
	}
	&__item {
		grid-column: 6 span;
		display: flex;
		gap: 25px;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			& .service {
				&__button {
					color: var(--service-blue-color);
				}
				&__arrow {
					fill: var(--service-blue-color);
					transform: translateX(3px);
				}
				&__title {
					color: var(--service-blue-color);
				}
				&__container-image {
					&::before {
						animation: shine 0.5s;
					}
				}
			}
		}
	}
	&__column {
		padding: 12px 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__title {
		color: var(--service-black-color);
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		text-decoration: none;
		margin-bottom: 28px;
		transition: color 0.3s ease;
	}
	&__image {
		width: 220px;
		height: auto;
	}
	&__button {
		font-size: 14px;
		line-height: 17px;
		color: var(--service-black-color);
		display: flex;
		align-items: center;
		gap: 8px;
		transition: color 0.3s ease;
	}
	&__arrow {
		width: 7px;
		height: 14px;
		margin-bottom: -1px;
		transition: fill 0.3s ease, transform 0.3s ease;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

@media (max-width: 840px) {
	.service {
		&__container {
			max-width: 520px;
		}
		&__grid {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}

@media (max-width: 480px) {
	.service {
		&__container {
			&-image {
				min-width: 185px;
			}
		}
		&__image {
			width: 185px;
		}
	}
}

@media (max-width: 375px) {
	.service {
		&__container {
			&-image {
				min-width: 200px;
			}
		}
		&__title {
			margin-bottom: 15px;
		}
		&__item {
			flex-direction: column;
			align-items: center;
			gap: 0;
		}
		&__image {
			width: 200px;
		}
		&__column {
			width: 250px;
			padding-bottom: 6px;
		}
	}
}
